@use 'theme'

@mixin button-base($size)
    align-items: center
    justify-content: center

    font-size: $size
    padding: $size * 0.7

@mixin button-flex
    flex: 1
    display: flex
    
.Flex
    @include button-flex

.Bordered
    border-style: solid
    border-width: 1px
    border-color: theme.$color-primary
    background-color: theme.$color-white
    color: theme.$color-primary

.Filled
    color: theme.$color-white
    background-color: theme.$color-primary

.Button-S
    @include button-base(theme.$button-small)
    border-radius: calc(theme.$button-small/2)

.Button-SR
    @include button-base(theme.$button-small)
    border-radius: theme.$button-small * 2

.Button-M
    @include button-base(theme.$button-medium)
    border-radius: calc(theme.$button-medium / 2)

.Button-MR
    @include button-base(theme.$button-medium)
    border-radius: theme.$button-medium * 2

.Button-L
    @include button-base(theme.$button-large)
    border-radius: calc(theme.$button-large/2)

.Button-LR
    @include button-base(theme.$button-large)
    border-radius: theme.$button-large * 2