@use 'theme'


.Header    
    flex:1
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between

    position: absolute
    top: 0
    left:0
    right:0

    height: theme.$medium
    padding: theme.$small
    padding-left: theme.$padding-inner
    padding-right: theme.$padding-inner
    background-color: theme.$color-white

.Header div
    display: flex
    flex-direction: row

.Profile
    display: flex
    align-items: center
    text-decoration: none

.Profile img
    width: theme.$medium
    height: theme.$medium
    border-radius: theme.$medium

.Profile p
    color: theme.$color-black
    margin: theme.$small / 2
    font-size: theme.$small

